<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css1/semantic.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Cliente</title>
    <style>
    body{
        min-height: 100vh;
        background-color: #f7fa53;
        text-align: left;
    }
    .t1{
        background-image: linear-gradient(128deg, #01bb2f, #ced105);
        text-align: center;
    }
    .container {  
        width: 500px;
        background:#f7ff02;
        margin:auto;
        border-radius: 20px;
        text-align: left;
        color:#FF0000;
        }
    </style>
</head> 
<body>
        <center>
                <br>
                <div>
        <center>   
        <div class="ui raised very padded text container segment" >
        <br><a class="ui inverted primary button" href="/client/">Regresar</a>
        <br>
        <br>
        <div class="container">
                <center>
        <br>
        <h1 class="ui center aligned icon header">
        <i class="circular save icon"></i>
            EDITAR CLIENTE
        </h1>
        <label id="producto">CLIENTE</label> <br>
        <br>
                </center>
        </div>
        <div>
        <center>
                <br>
        <form name="formulario" action="/editC/{{cliente.id}}" method="POST" class="ui fluid form" >
        {{csrfField()}}
        <div class="inline field">
                <input type="text" name="nombre" id="nombre" value ={{cliente.nombre}} class="number">
                <div class="ui left pointing label">
                Ingresa NUEVO NOMBRE
                </div>
        <br>
        <br>
        <div class="inline field">
                <input type="text" name="apellido" id="apellido" value ={{cliente.apellido}} class="number"> 
                <div class="ui left pointing label">
                Ingresa NUEVO APELLIDO
                </div>
        <br>
        <br>
        <div class="inline field">
                <input type="text" name="email" id="email" value ={{cliente.email}} class="number">
                <div class="ui left pointing label">
                Ingresa NUEVA EMAIL
                </div>
        <br>
         <br>
         <div class="inline field">
                <input type="text" name="telefono" id="telefono" value ={{cliente.telefono}} class="number">
                <div class="ui left pointing label">
                Ingresa NUEVO TELEFONO
                </div>
        <br>
        <br>
        <div class="inline field">
                <input type="text" name="direccion" id="direccion" value ={{cliente.direccion}} class="number">
                <div class="ui left pointing label">
                Ingresa NUEVO DIRECCIÓN
                </div>
        <br>
        <br>
        <div class="inline field">
                <input type="text" name="rfc" id="rfc" value ={{cliente.rfc}} class="number">
                <div class="ui left pointing label">
                Ingresa NUEVO RFC
                </div>
        <br>
        <br>
        <button id="crear" class="ui inverted green button" type="submit" >EDITAR</button>
        </form>
        </center>
</div>
</center>
<br>
<br>
</div>
</body>
</html>