<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css1/semantic.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menú</title>
    <style>
    body{
        min-height: 100vh;
        background-color: #007ACC;
        text-align: left;
    }
    .container {  
        width: 800px;
        background:#9bfc8f;
        margin:auto;
        border:3px solid:#000000;
        text-align: left;
        color:#FF0000;
        }
    </style>
    </head>
    <body>
        <center>
    <br>
    <div class="container"><center> <h1>MENÚ</h1></center></div>
    
<br>
    <div class="ui three column grid">
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                <img src="/img/producto.png">
                </div>
                <div class="content">
                  <a class="header" href="/product/">Productos</a>
                </div>
                
              </div>
            </div>
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                <img src="/img/cliente.png" >
                </div>
                <div class="content">
                  <a class="header" href="/client/">Clientes</a>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                <img src="/img/pedido.png">
                </div>
                <div class="content">
                  <a class="header" href="/pedid/">Pedidos</a>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
                       
        </center>
    </body>
    </html>
    