 <html>
<head>
<link rel="stylesheet" href="/css1/semantic.css">
    <title>Tabla de Datos</title>
    <style>
    body{
        min-height: 100vh;
        background-color: #53d4fa;
        text-align: left;
    }

    .estructura{
                size: 150px;
                color: white;
                text-align: center;
            }

    table {
            width: 50%;
            height: 50%;
        }

        th{
            
            background-color: #00b06d;
            border: 2px solid black;
            border-radius: 3%;
        }
    </style>
    </head>

<body>
<center>
    <br><a class="ui orange button" href="http://127.0.0.1:3333/">Regresar</a>
    <br>
 <h1 class="title">Lista de Pedidos</h1>
 <a class="ui inverted green button" href="/createP/">CREAR PEDIDOS</a><br>
 <br>


<!---<ul>
@each(product in products)
    <li> Nombre: {{ product.nombre}} --- Precio: {{ product.precio}} --- Existencia:{{ product.existencia}} </li>
@endeach
</ul>--->

<table>
    <tr >
    <th class="estructura">ID</th>
    <th class="estructura">Fecha</th>
    <th class="estructura">Cantidad </th>
    <th class="estructura"> Producto</th>
    <th class="estructura"> Cliente</th>
    <th class="estructura"> Total</th>
    <th class="estructura"> Entregado</th>
    <th> </th>
    <th> </th>
    </tr>
 @each(pedid in pedids)
    <tr>
        <th class="estructura">{{ pedid.id}}</th>
        <th class="estructura">{{ pedid.fecha}}</th>
        <th class="estructura">{{ pedid.cantidad}}</th>
        <th class="estructura">{{ pedid.productos.nombre}}</th>
        <th class="estructura">{{ pedid.clientes.nombre}}</th>
        <th class="estructura">{{ pedid.total}}</th>
        <th class="estructura">{{ pedid.entregado}}</th>
        <th><a class="ui inverted yellow button" href="/editarP/{{pedid.id}}">EDITAR</a></th>
        <th><a class="ui inverted red button" href="/deleteP/{{pedid.id}}">BORRAR</a></th>
        
    </tr>
    @endeach
</table>

</center>
</body>
</html>

